.about,
.about-me,
.about-me-section p {
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}

.about-me,
.about-me-section p,
.photo {
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.about {

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 95vh;
    height: auto
}

.photo-container {

    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.photo {
    background: url(../img/me.jpg) center no-repeat;
    background-size: contain;
    position: relative;
    min-height: 220px;
    width: 25%
}

.informations {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 100%;
    padding: 25px;
    margin: 100px 0;
    background: rgba(61, 61, 61, .9);
    -webkit-box-shadow: 10px 10px rgba(0, 165, 165, 0.1);
            box-shadow: 10px 10px rgba(0, 165, 165, 0.1);
}

.informations p {
    font-size: 1rem;
}

.about-me {

    border-radius: 25px;
    height: 100%
}

.about-me:hover {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px
}

.about-me h2 {
    border-radius: 25px;
    margin: 20px auto;
    color: #D8DBE2;
    text-align: center
}

.about-me h3 {
    color: #ccc;
    text-align: center
}

.deskop-h3 {
    text-align: left;
    font-size: .8rem;
    margin-top: 0;
    border-bottom: none
}

.cards {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around
}

.cards i {
    min-width: 20%;
    margin: 10px;
    margin-top: 0;
    text-align: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.cards i:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
}

#html-icon {
    color: #E34C26;
}

#css-icon {
    color: #037ef3;
}

#js-icon {
    color: #f0db4f;
}

#vue-icon {
    color: #41b883;
}

.about-me-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around
}

.about-me-section p {
    display: block;
    font-size: 1.5rem;
    max-width: 30%;
    padding: 25px;
    background: rgba(61, 61, 61, .9);
    border-radius: 30px;
    -webkit-box-shadow: 3px 3px #000;
            box-shadow: 3px 3px #000
}

.about-me-section p:hover {
    background: #3d3d3d
}

p span {
    font-family: 'Lato', sans-serif;

    font-size: 2rem;
    color: #67acb7
}

@media only screen and (min-width:1px) {
    .photo {
        margin: 30px;
    }
}

@media only screen and (max-width:992px) {


    .about {
        height: auto;
        background-attachment: fixed
    }

    .photo {
        width: 100%
    }

    .photo-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center
    }

    .cards {
        margin: 40px 0
    }

    .informations {
        margin: 0;
        padding: 2%
    }

    .informations p {
        width: 100%;
        margin-bottom: 20px
    }

    .about-me-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column
    }

    .about-me-section p {
        font-size: 1rem;
        max-width: 100%;
        margin-bottom: 20px
    }
}


@media only screen and (min-width:768px) {
    .cards {
        border-radius: 200px;
        padding: 10px;
    }

    .informations p {
        font-size: 1.6rem;
    }
}